h1 {
    text-align: initial;
}

h1 span {
    background-color: #4aaaa5;
    padding: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 24px;
}

header {
    background-color: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    width: 100%;
    padding-top: 1%;
    padding-left: 20%;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: #cccccc;
    font-size: 12px;
    float: left;
    text-align: center;
    list-style-type: none;
    padding-right: 2%;
}

nav {
    padding-right: 40%;
    float: right;

}